Requirements
Login
3 versions of the main page (one for each type of user)
Must have upload buttons for various shit
Chat functionality
Search bar (won't work)
Post research and job oppotunities
Delete button for all the stuff
Rate my professor 

